<div class='main'>
  <div>
    <h1 class='main-header text-center'>Travel with peace of mind</h1>
    <h2 class="main-subheader">Leave your family member with another dog lover</h2>
    <div class="text-center">
      <a ui-sref="home.listings" class='btn btn-default btn-lg'>See Listings</a> <a ui-sref="home.signin" class='btn btn-primary btn-lg'>Sign in</a>
    </div>
  </div>
</div>
<section class='info'>
  <div class="container">
    <h2 class='text-center'>How it Works</h2>
    <div class='clearfix info-block-wrap'>
      <div class='info-block'>
        <i class="fa fa-sticky-note-o text-center" aria-hidden="true"></i>
        <h4 class="info-block-header">Search or Post</h4>
        <p>Search available providers for your dog to rest its paws with while you leave town. Or make a post describing your need for someone to help out.</p>    
      </div>
      <div class='info-block'>
        <i class="fa fa-envelope-o text-center" aria-hidden="true"></i>
        <h4 class="info-block-header">Contact</h4>
        <p>Communicate with pet lovers such as yourself and find out if they will be a good match while you are out of town. Or offer to watch someone's pet.</p>
      </div>
      <div class='info-block'>
        <i class="fa fa-globe text-center" aria-hidden="true"></i>
        <h4 class="info-block-header">Travel</h4>
        <p>
          Meetup and travel without worries as your loved one is cared for by someone who enjoys their company. Or have an unforgettable experience watching someone's pet.       
        </p>
      </div>      
    </div>    
  </div>
</section>
<section class='callToAction'>  
  <div class='text-center'>
    <h2>Leaving on a trip?</h2>
    <a ui-sref="home.create" class='btn btn-lg btn-primary'>Create a Profile</a>
  </div>
</section>
<section class="info-alt">
  <div class="container">
    <h2 class='text-center'>Coming Soon</h2>
    <div class='clearfix info-block-wrap'>
      <div class='info-block info-block-alt'>
        <i class="fa fa-comments-o fa-alt text-center" aria-hidden="true"></i>
          <h4 class="info-block-header info-block-header-alt">Messaging &amp; Verification</h4>
        <p>
          Message members to get to know them before meeting in person. Verify that they are who they say they are before handing off a loved one.         
        </p>
      </div>
      <div class='info-block info-block-alt'>
        <i class="fa fa-check-circle-o fa-alt text-center" aria-hidden="true"></i>
          <h4 class="info-block-header info-block-header-alt">References &amp; Reviews</h4>
        <p>
           Read what other members have to say about their experiences with specific dogs, owners or hosts. Or leave a review about your experience with a member or their dog.       
        </p>
      </div>
      <div class='info-block info-block-alt'>
        <i class="fa fa-users text-center fa-alt" aria-hidden="true"></i>
          <h4 class="info-block-header info-block-header-alt">Community Support</h4>
        <p>
          Safety and the best experience possible is our goal. Give feedback on your experience on site and with owners/hosts and we'll use that to make DogSurfing better.      
        </p>
      </div>
    </div>
  </div> 
</section>